* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}

#container {
    background: #ede9cc;
}

#topo {
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo {
    background: ;
    width: 100%;
    height: 250px;
}

#area-menu {
    background: ;
    width: 450px;
    height: 250px;
}